html{
  scroll-behavior: smooth;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Archivo', sans-serif;
}
a, a:link, a:visited{
  color: inherit;
  text-decoration: none;
}
  /******************************************************네비 바 시작**************************************************/
li{
  list-style: none;
}
.navbox{
  width: 100%;
  margin: 0 auto;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5))
}
header{
  position: fixed;
  color: white;
  top: 0;
  z-index: 1;
  width: 100%;
  padding: 1rem;
}
header nav{
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 100%;
}
header nav ul{
  display: flex;
  align-items: center;
}
header nav ul li{
  padding: 10px;
}
header button{
  background:transparent;
  border: 0;
  cursor: pointer;
}
header h1 button{
  font-size: 2rem;
  font-weight: bold;
  color: white;
}
header nav ul li button{
  font-size: 1.2rem;
  color: rgb(250, 250, 250);

  /******************************************************네비 바 마지막**************************************************/
}.myself{
  width: 100%;
  height: 100vh;
  color: white;
  background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('./1.jpg') center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.myself h4{
  font-size: 3rem;
}
.myself h2{
  font-size: 7rem;
  margin: 2rem;
  letter-spacing: 3px;
}
.myself h2 span::after{
  content: "";
  height: 80px;
  width: 3px;
  background-color: #fff;
  display: inline-block;
  animation: blink .7s ease-in-out infinite;
}
@keyframes blink{
  0%{
      opacity: 1;
  }
  100%{
      opacity: 0;
  }
}

.myself p{
  font-size: 1.5rem;
  margin: 0 auto;
  max-width: 500px;
}
.myself .alink{
  border: none;
  bottom: 1rem;
  position: absolute;
  animation: upDown 1s ease-in-out infinite;
}
@keyframes upDown{
  0%{
      bottom: 1rem;
  }
  50%{
      bottom: 1.5rem;
  }
  100%{
      bottom: 1rem;
  }
}
/**************************************************************기본소개 마무리******************************************************************/
#profile #profile h2{
  margin: 20px 0 30px;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

#profile #profile{
  background-color: #fff;
  box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.25);
  padding-bottom: 40px;
}
#profile .about{
  margin: 20px auto 0;
  padding: 20px;
  width: 980px;
}
#profile #profile .profile-inner{
  align-items: center;
  display: flex;
}
#profile #profile .prifile-img{
  background-image: url(./img.jpg);
  background-size: cover;
  border-radius: 50%;
  display: flex;
  height: 40vh;
  width: 30vh;
}
.prof{
  display: flex;
  justify-content: space-evenly;
}

.profile-inner ul li{
  font-size: 20px;
  margin-bottom: 10%;
}
/***********************************about마무리*******************************/
#skills{
  align-items: center;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  margin-top: 5%;
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('./123.jpg') center center;
  background-size: cover;
  justify-content: center;
  text-align: center;
}
#skills h2{
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin-top: 5%;
  color: white;
}
#skills ul{
  margin-top: 5%;
  margin-bottom: 5%;
}
#skills ul li{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 80vw
}
.skill-name{
  align-items: center;
  color: white;
  display: flex;
  font-size: 2vw;
  font-weight: 600;
  justify-content: center;
  width: 120px;
}
.skill-bar{
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  height: 32px;
  justify-content: center;
  padding: 0 1px;
  width: 800px;
}
.skill100{
  width: 100%; 
  -webkit-transform-origin:  100% 0%;
  transform-origin:  100% 0% ;
-webkit-animation: loader1 8s ease-in-out infinite;

}
@-webkit-keyframes loader1{
  0%{width: 0px; left: 0px}
  48%{width: 100%; left: 0px}
  50%{width: 100%; right: 0px}
  100%{width: 100%; right: 0px}
}


.skill80{
  width: 80%;
  -webkit-transform-origin:  100% 0%;
  transform-origin:  100% 0% ;
-webkit-animation: loader2 8s ease-in-out infinite;

}
@-webkit-keyframes loader2{
  0%{width: 0px; left: 0px}
  48%{width: 80%; left: 0px}
  50%{width: 80%; right: 0px}
  100%{width: 80%; right: 0px}
}
.skill50{
  width: 50%;
  -webkit-transform-origin:  100% 0%;
  transform-origin:  100% 0% ;
-webkit-animation: loader3 8s ease-in-out infinite;

}
@-webkit-keyframes loader3{
  0%{width: 0px; left: 0px}
  48%{width: 50%; left: 0px}
  50%{width: 50%; right: 0px}
  100%{width: 50%; right: 0px}
}
.skill30{
  width: 30%;
  -webkit-transform-origin:  100% 0%;
  transform-origin:  100% 0% ;
-webkit-animation: loader5 8s ease-in-out infinite;

}
@-webkit-keyframes loader5{
  0%{width: 0px; left: 0px}
  48%{width: 30%; left: 0px}
  50%{width: 30%; right: 0px}
  100%{width: 30%; right: 0px}
}

.skill1{
  width: 1%;

}

.percent{
  align-items: center;
  background: linear-gradient(rgb(80, 79, 81), rgb(214, 210, 219));
  border-radius: 0 15px 15px 0;
  display: flex;
  height: 30px;
  justify-content: flex-end;
  padding: 0 20px;
  color: #fff;
}
/*************************************************그래프항목 마무리*********************************************************/

.project1{
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
  border: 1px solid black;
  border-radius: 10%;

}
.spec{
  margin: 5%;
  text-align: center;
  height: 150vh;
  display: block;
}
.project h2{
  font-size: 2.5rem;
}
.spec-photo{
  margin: 3%;
  background-image: url(./wepsite.png);
  background-size: cover;
  background-position: center;
  width: 80vw;
  height: 60vh;

}
.spec-photo2{
  margin: 3%;
  background-image: url(./1.jpg);
  background-size: cover;
  background-position: center;
  width: 8vw;
  height: 60vh;

}
.spec-photo2{
  margin: 3%;
  background-image: url(./1.jpg);
  background-size: cover;
  background-position: center;
  width: 80vw;
  height: 60vh;

}
.spec-story{
  margin: 3%;
  width: 80vw;
  height: 80vh;
}
.spec-story h3{
  font-size: 2rem;
  margin:  5%;
}
.spec-story h4{
  font-size: 2rem;
  margin-bottom: 10%;
}
.spec-story ul li{
  font-size: 1.5rem;
}
/******************************************************스펙항목******************************************************/
#contact{
  display: flex;
  justify-content: center;
  margin:  auto;
  width: 95vw;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('./2.jpg') center center;
  background-size: cover;
  align-items: center;
  text-align: center;
  border-radius: 30%;
}
.contact-inner{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px 0;
  width: 60vw;

}
.contact-center h3{
  font-weight: 700;
  text-align: center;
  color: white;
  font-size: 2rem;
  margin-bottom: 5%;
  margin-top: 30%;
}
.contact-center p{
  padding: 0;
  vertical-align: baseline;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 5%;
}
.contact-inner input{
  border: 1px solid rgba(0,0,0,0.25);
  color: rgba(0,0,0,0.7);
  font-size: 16px;
  margin-bottom: 16px;
  width: 60vw;
  height: 5vh;
  padding: 0 20px;
}
form{
  display: block;
}
textarea{
  border: 1px solid rgba(0,0,0,0.25);
  color: rgba(0,0,0,0.7);
  font-size: 16px;
  margin-bottom: 16px;
  width: 60vw;
}
.contact-inner button{
  background-color: rgb(71, 71, 71);
  border: none;
  color: #fff;
  cursor: pointer;
  height: 40px;
  margin: auto;
  width: 60vw;
  margin-bottom: 50%;
}
/******************************************************************/
/**반응형 웹**/
