.projects {
  width: 100%;
  height: 90%;
  position: absolute;

}
.aboutMe2{
  position: relative;
  left: 5%;
  top: 5%;
  width: 70%;
}

.box1 {
    position: relative;
    width: 80%;
    height: 80%;
    border: 2px solid black;
    border-radius: 10%;
    top: -20%;
}
.ment1 {
  position: relative;
  top: 5%;
  font-size: 1.2rem;
  line-height: 2rem;
}

.image1 {
  width: 100%;
  height: 100%;
  }


.modal1{
  position: absolute;
  width: 60%;
  height: 40%;
  z-index: 10;
  left: 20%;
  top: 10%;
  background-color: white;
}
.pro-line{
  height: 60%;
  border: 0.1rem solid #041988;
  position: absolute;
  left: 17%;
  top: 15%;

}

.semi1 {
  position: relative;
  width: 50%;
  left: 5%;
  top: 5%;
}

.date1{
  position: relative;
  top: -40%;
  left: 70%;
  font-size: 1.2rem;
  line-height: 2rem;
  width: 50%;
}
.site{
  position: relative;
  left: 70%;
  top: -38%;
  font-size: 1.2rem;
  line-height: 2rem;
  width: 50%;
}
.siteBtn {
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  background-color: white;
  color: #041988;
}
.intro1{
  position: relative;
  top: 0%;
  left: 0%;
  line-height: 2rem;
  width: 55%;
  height: 50%;
}
.line1 {
  position: relative;
  top: -10%;
  left: 15%;
  border: 1px solid black;
  width: 30%;
}
.skills {
  position: relative;
  top: -60%;
  left: 60%;
  line-height: 2.2rem;
  width: 60%;
}
.line2 {
  position: relative;
  top: 1rem;
  left: 25%;
  border: 1px solid black;
  width: 30%;
}

.slider {
  width: 55%;
  height: 45%;
  position: relative;
  left: 2%;
  top: -5%;
}
.swiper swiper-fade swiper-initialized swiper-horizontal swiper-watch-progress swiper-backface-hidden mySwiper {
  width: 100%;
  height: 100%;
}
.img1 {
  width: 100%;
  height: 100%;
}

.pro {
  position: relative;
  top: 30%;
  font-size: 1.5rem;
  height: 5%;
  left: 5%;
  font-weight: bold;
  text-decoration: none;
  color: black;
  line-height: 150%;
}
